<!--user login-->
<?php include(TEMPLATE.'common/header.html');?>
	<link href="<?php echo STATIC_PATH;?>style/wap/login.css?ver=<?php echo KOD_VERSION;?>" rel="stylesheet">
	<title><?php echo strip_tags(LNG('kod_name')).LNG('kod_power_by');?></title>
</head>

<body>
	<?php
		$arr = array(2,3,6,8,9,11,12);
		$get = $arr[mt_rand(0,count($arr)-1)];
		$image = STATIC_PATH."images/wall_page/".$get.".jpg";
		echo '<style type="text/css">.aero:before,.aero:after,.background{background-image:url('.$image.')}</style>';
	?>
	<div class="background"></div>
	<div class="loginbox login-wap aero" >
		<div class="title">
			<div class="logo">
				<i class="icon-cloud"></i><?php echo strip_tags(LNG('kod_name'));?>
			</div>
			<div class='info'><?php echo LNG('kod_name_desc');?></div>
		</div>
		<div class="form">
			<form action="#">
				<div class="inputs">
					<div>
						<i class="font-icon icon-user"></i>
						<input id="username" name='name' type="text" placeholder="<?php echo LNG('username');?>" 
						required disabled/> 
					</div>
					<div>
						<i class="font-icon  icon-key"></i>
						<input id="password" name='password' type="password" placeholder="<?php echo LNG('password');?>" 
						required disabled/>
					</div>
					
					<?php if(need_check_code()){?>
					<div class='check-code'>
						<i class="font-icon icon-unlock-alt"></i>
						<input name='checkCode' class="check-code" type="text" placeholder="<?php echo LNG('login_code');?>" required autocomplete="off"/>
						<img src='./index.php?user/checkCode' onclick="this.src='./index.php?user/checkCode'" />
					</div>
					<?php }?>
				</div>
				<div class="actions">
					<label for='rm'>
						<input type="checkbox" class="checkbox" name="rememberPassword" id='rm'/>
						<?php echo LNG('login_rember_password');?>
					</label>
					<a href="javascript:void(0);" class="forget-password"><?php echo LNG('forget_password');?></a>
					<input type="submit" id="submit" value="<?php echo LNG('login');?>" />
				</div>
				<div class="msg"><?php echo $msg;?></div>

				<?php if ($this->config['settingSystem']['autoLogin'] == '1') {?>
				<div class='guest'>
					<a href="./index.php?user/loginSubmit&name=guest&password=guest"><?php echo LNG('guest_login');?><i class=' icon-arrow-right'></i></a>
				</div>
				<?php } ?>
			</form>
		</div>
	</div>

	<?php $GLOBALS['loadCommonJs'] = true;?>
	<?php include(TEMPLATE.'common/footer.html');?>
	<script type="text/javascript" >
		seajs.config({
			base: "<?php echo STATIC_PATH;?>js/",
			preload: ["lib/jquery-1.8.0.min"],
			map:[
				[ /^(.*\.(?:css|js))(.*)$/i,'$1$2?ver='+G.version]
			]
		});
		seajs.use("<?php echo STATIC_JS;?>/src/user/main");
	</script>
</body>
</html>
