<div class="full_background"></div>
<div class="init_loading"><div>
	<img src="<?php echo STATIC_PATH;?>images/common/loading_simple.gif"/></div>
</div>
<div class="topbar">
	<div class="content">
		<div class="top_left">
			<a href="./" class="topbar_menu title">
			<?php
				if(substr($L['kod_name'],0,4) == '<img'){
					echo $L['kod_name'];
				}else{
					echo '<i class="icon-cloud"></i>'.$L['kod_name'];
				}
			?>
			</a>
			<div class="share_info">
				<span class="share_title">
					<b class="share_title_info">
					<?php echo isset($share_info['show_name'])?clear_html($share_info['show_name']):clear_html($share_info['name']);?>
					</b> 
				</span>
				<span class="size"></span>
				<span class="time"></span>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="top_right">
			<div class="share_info_user hidden menu_group">
				<span class="info"></span>
				<div class="btn-group">
				 	<a type="button" class="btn btn-primary btn_download" target="_blank" href=""><?php echo $L['download'];?></a>
				</div>
			</div>

			<?php if(!isset($config['settings']['language'])){ ?>
			<div class="menu_group">
				<a id='topbar_language' data-toggle="dropdown" href="#" class="topbar_menu">
				<i class='font-icon icon-flag'></i>&nbsp;<b class="caret"></b>
				</a>
				<ul class="dropdown-menu topbar_language pull-right animated menuShow" role="menu" aria-labelledby="topbar_language">
				  	<?php 
				  		$tpl = "";
				  		foreach ($config['setting_all']['language'] as $key => $value) {
				  			$name = $value[0];
				  			$select = LANGUAGE_TYPE == $key ? "this":"";
				  			$tpl .= "<li><a href='javascript:core.language(\"{$key}\");' title=\"{$key}/{$value[1]}/{$value[2]}\" class='{$select}'><i class='lang-flag flag-{$key}'></i>{$name}</a></li>";
				  		}
						echo $tpl;
					?>
				</ul>
			</div>
			<?php } ?>
			<div class="menu_group">
				<a href="#" id='topbar_user' class="topbar_menu" data-toggle="dropdown"><i class="font-icon icon-user"></i><?php echo $_SESSION['kod_user']['name'];?>&nbsp;<b class="caret"></b></a>
				<ul class="dropdown-menu menu-topbar_user pull-right animated menuShow" role="menu" aria-labelledby="topbar_user">
					<li><a href="javascript:core.qrcode(window.location.href);"><i class="font-icon icon-qrcode"></i><?php echo $L['qrcode'];?></a></li>
					<li><a href="javascript:core.fullScreen();"><i class="font-icon icon-fullscreen"></i><?php echo $L['full_screen'];?></a></li>
					<li><a href="http://www.kalcaddle.com" target="_blank"><i class="font-icon icon-code-fork"></i><?php echo $L['ui_project_home'];?></a></li>
				</ul>			
			</div>		
		</div>
		<div style="clear:both"></div>
	</div>
</div>
