<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><?php echo $L['php_env_check'].' - '.$L['kod_name'].$L['kod_power_by'];?></title>
	<link rel="Shortcut Icon" href="<?php echo STATIC_PATH;?>images/favicon.ico">
	<link href="<?php echo STATIC_PATH;?>style/bootstrap.css?ver=<?php echo KOD_VERSION;?>" rel="stylesheet"/>
	<link rel="stylesheet" href="./static/style/font-awesome/css/font-awesome.css">
	<!--[if IE 7]>
	<link rel="stylesheet" href="./static/style/font-awesome/css/font-awesome-ie7.css">
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="<?php echo STATIC_PATH;?>style/login.css">
</head>

<body>
	<?php 
		$arr = array(4,5,7,7,7,10,11,12);
		$get = $arr[mt_rand(0,count($arr)-1)];
		$image = STATIC_PATH."images/wall_page/".$get.".jpg";
		echo '<div class="background" style="background-image:url('.$image.')"></div>';
	?>
	<div class="loginbox" >
		<div class="title">
			<div class="logo"><i class="icon-cloud"></i><?php echo $L['kod_name'];?></div>
			<div class='info'>——<?php echo $L['kod_name_desc'];?></div>
		</div>
		<div class="form" style="padding: 10px 20px;">
			<h3><?php echo $L['php_env_check'];?></h3>
			<?php
	            $error = php_env_check();
	            if ($error=='') {
	            	echo '<div class="success"><h4>Successful!</h4>',$L['install_login'],
	            	'<br/>'.$L['install_user_default'].'</div></div><div class="guest"><a href="./index.php?user/loginFirst">'.$L['login'].'</a></div>';
	            }else{
	            	echo '<div class="error"><h4>error:</h4>'.$error.'</div></div><div class="guest"><a href="./index.php?user/loginFirst">'.$L['php_env_error_ignore'].'</a></div>';
	            }
	        ?>
		</div>
	</div>
<div class="common_footer"><?php echo $L['copyright_pre'].' v'.KOD_VERSION.' | '.$L['copyright_info'];?></div>
</body>
</html>