<cmp 
	name = "KodExplorer 在线播放器" 
	link = "http://kalcaddle.com" 
	description = "KodExplorer 在线播放器"
	logo = "{src:logo.png,xywh:[10R,10R,0,0]}"
	
	skins = "skins/movie/webplayer.zip,skins/movie/qqplayer.zip"
	plugins = ""
	backgrounds = ""
	src_handler = "" 
	lrc_handler = ""
	
	skin_id = "1"
    play_id = ""
	auto_play = "1"
	list_delete = "1"
	sound_sample = "true"
	
	mixer_src = ""
	mixer_id ="6"
	mixer_displace="true" 
	mixer_filter="true" 
	
	counter = ""
/>