<div class="common-footer aero">
	<?php 
		$settings = $GLOBALS['config']['settings'];
		$settingSystem = $GLOBALS['config']['settingSystem'];
		$copyrightInfo = LNG('copyright_info',APP_HOST);
		if(is_wap()){
			echo '<span class="pr-10"><a href="javascript:void(0);" forceWap="1">'.LNG('wap_page_phone').'</a> | '.
				 '<a href="javascript:void(0);" forceWap="0">'.LNG('wap_page_pc').'</a></span> ';
			echo $copyrightInfo.' v'.KOD_VERSION;
		}else{
			echo '<span class="copyright-content">';
			if(isset($settings['copyright'])){
				echo $settings['copyright'];
			}else{
				echo LNG('copyright_pre').' v'.KOD_VERSION.' | '.$copyrightInfo;
			}
			echo '<a href="javascript:core.copyright();" class="icon-info-sign copyright-bottom pl-5"></a>';
			if(isset($settingSystem['globalIcp'])){
				echo "&nbsp;&nbsp;  ".$settingSystem['globalIcp'];
			}
			echo '</span>';
		}
	?>
</div>
<!-- https://getfirebug.com/firebuglite -->
<?php include(TEMPLATE.'common/footerCommon.html');?>