<?php include(TEMPLATE.'common/header.html');?>
	<title><?php echo LNG('ui_explorer').' - '.strip_tags(LNG('kod_name')).LNG('kod_power_by');?></title>
	<link href="<?php echo STATIC_PATH;?>style/wap/app_explorer.css?ver=<?php echo KOD_VERSION;?>" rel="stylesheet"/>
</head>
<body>
	<div class="init-loading"><div><img src="<?php echo STATIC_PATH;?>images/common/loading_simple.gif"/></div></div>
	<div class="panel-menu">
		<div class="panel-hd">
			<span class="my-avator"> <img src="<?php echo STATIC_PATH;?>images/common/pic.jpg"> </span>
			<div><h3 class="name"><?php echo $_SESSION['kodUser']['name'];?></h3></div>
		</div>
		<ul class="left-menu-path"></ul>
	</div>
	<div class="frame-main">
		<div class="panel-mask"></div>
		<div class="frame-header">
			<div class="tool tool-menu-left"><i class="font-icon icon-reorder"></i></div>
			<div class="title"><?php echo LNG('kod_name');?></div>
			<div class="menu-group">
				<div class="btn-list-icon"><i class="font-icon icon-th"></i></div>
				<div class="tool tool-menu-right-btn"><i class="font-icon icon-ellipsis-vertical"></i></div>
				<ul class="dropdown-menu tool-menu-right  pull-right animated menuShow" role="menu" >				
					<li data-action="upload"><a href="javascript:void();">
						<i class="font-icon icon-cloud-upload"></i><?php echo LNG('upload');?></a></li>
					<li data-action="newfolder"><a href="javascript:void();">
						<i class="font-icon icon-folder-close-alt"></i><?php echo LNG('newfolder');?></a></li>
					<li data-action="newfile"><a href="javascript:void();">
						<i class="font-icon icon-file-text"></i><?php echo LNG('newfile');?></a></li>
					<li data-action="past"><a href="javascript:void();">
						<i class="font-icon icon-paste"></i><?php echo LNG('past');?></a></li>
					<li data-action="search"><a href="javascript:void();">
						<i class="font-icon icon-search"></i><?php echo LNG('search');?></a></li>
				</ul>
			</div>
		</div>

		<div class="address"><ul></ul><div style="clear: both"></div></div>
		<div class='bodymain'>			
			<div class="file-continer file-list-list"></div>
		</div>

		<div class="file-menu">
			<div class="file-action-menu hidden">
				<div class="action-menu" data-action="action-copy">
					<span class="content">
						<i class="font-icon icon-copy"></i><?php echo LNG('copy');?>
					</span>
				</div>
				<div class='action-menu' data-action="action-rname">
					<span class="content">
						<i class="font-icon icon-pencil"></i><?php echo LNG('rename');?>
					</span>
				</div>
				<div class='action-menu' data-action="action-download">
					<span class="content">
						<i class="font-icon icon-cloud-download"></i><?php echo LNG('download');?>
					</span>
				</div>
				<div class='action-menu' data-action="action-info">
					<span class="content">
						<i class="font-icon icon-info"></i><?php echo LNG('info');?>
					</span>
				</div>
				<div class="action-menu" data-action="action-remove">
					<span class="content">
						<i class="font-icon icon-trash"></i><?php echo LNG('remove');?>
					</span>
				</div>
				<div class="menu-close">
					<span class="content">
						<i class="font-icon icon-ellipsis-horizontal"></i>
					</span>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
		<?php include(TEMPLATE.'common/footer.html');?>
	</div><!-- / frame-main end-->
	<script type="text/javascript" >
		G.thisPath = "<?php echo clear_html($dir);?>";
		seajs.use("<?php echo STATIC_JS;?>/src/explorerWap/main");
	</script>
</body>
</html>
